 body{
     background-image:  url('../Images/form.jpg');
	 background-size: 140%;
	 text-align: center;
 }

form{
width: 500px;
height: 500px;

}
div.dispp{
    max-width: 500px;
margin: auto;
padding: 10px;

}
button{
background-color: green;
padding: 20px;
margin: 20px;
width: 90%;

}
#image{

    width: 200px;
}
tr{
	padding: 10px;
	margin-top:10px ;
}
#submit{
	width: 100px;
	background-color: black;
	color: red;
}

